<div class="blog-post">
  <h1 class="blog-post-title"><a href="<%= page.permalink %>"><%= page.title %></a></h1>
  <p class="blog-post-meta">January 1, 2014 by <a href="#">Michael Neumann</a></p>
  <%= page.content %>
</div><!-- /.blog-post -->
